[user]
	name = Terry Wang
	email = terry494@gmail.com
[cola]
	textwidth = 70
[merge]
	tool = meld
[gui]
	editor = vim
[color]
	ui = auto
[giggle]
	main-window-maximized = true
	main-window-geometry = 304x38+1612+824
	main-window-view = HistoryView
	history-view-vpane-position = 525
	file-view-vpane-position = 975
[alias]
lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
lg = !"git lg1"
st = status
[core]
	editor = vim
